* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: darkgray;
}

h1 {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
  border-top: 3px solid #333333;
}

footer a {
  padding: 0.3rem;
  text-decoration: none;
  color: #333333;
}

button {
  cursor: pointer;
}

/* *************************************** */

.container {
  width: 375px;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
}

.header__logo {
  width: 100%;
  height: auto;
}

/* *************************************** */

/* main__oursons */
.flex-col {
  display: flex;
  flex-direction: column;
}

/* main__ourson */
.dark-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #333333;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: #f3e9f1;
}

/* *************************************** */

/* main__txt */
.card-txt {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  align-items: center;
}

/* section__txt */
.txt-center-bigger {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* main__form */
.center-txt {
  text-align: center;
}

/* main__description p */
.justify-txt {
  text-align: justify;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.bold {
  font-weight: bold;
}

/* *************************************** */

/* main__form form */
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

/* main__form select */
.select {
  padding: 0.3rem 1rem;
  margin: 1rem 0;
}

/* *************************************** */

.command {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.command p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.command button {
  padding: 1rem;
  margin: 1rem 0;
}

.command input {
  padding: 0.3rem;
  margin-bottom: 0.7rem;
}

fieldset {
  margin-bottom: 1rem;
}

legend {
  padding: 0 0.5rem;
}

.command__infos {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* *************************************** */

.valid {
  border: 3px solid rgba(26, 126, 48, 0.8) !important;
  border-radius: 0.3rem;
}

.invalid {
  border: 3px solid rgba(233, 30, 30, 0.8);
  border-radius: 0.3rem;
}

/* *************************************** */

.hide {
  display: none;
}

/* *************************************** */

/* main__txt button */
.light-btn {
  padding: 0.5rem;
  background-color: #f3e9f1;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

/* clearBasketBtn */
.red-btn {
  width: 50%;
  margin: 1rem auto;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgba(255, 0, 0, 0.1);
  border: solid 2px red;
  border-radius: 0.3rem;
  font-weight: bold;
  color: red;
}

/* formBtn */
.blue-btn {
  padding: 1rem;
  margin-bottom: 1rem;
  color: #f3e9f1;
  background-color: #2a38b1;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.green-btn {
  padding: 1rem;
  margin-bottom: 1rem;
  color: #f3e9f1;
  background-color: #087a34;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

/* *************************************** */

.pad-03rem {
  padding: 0.3rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

/* *************************************** */
